/* FILTER BLOCK */
.filter-block {
  background-image: url("../../image/catalog-bg-blur.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.breadcrumbs-item:first-child {
  background-image: url("../../image/breadcrumbs-icon-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.breadcrumbs-item:first-child::after {
  content: url("../../image/arrow-right.svg");
}
/* CATALOG SECTION */
.btn-view-cards,
.btn-view-card,
.btn-view-list {
  background-repeat: no-repeat;
}
.btn-view-cards {
  background-image: url("../../image/view-cards.svg");
}
.btn-view-card {
  background-image: url("../../image/view-card.svg");
}
.btn-view-list {
  background-image: url("../../image/view-list.svg");
}
